# ðŸ§º Online Retail Dataset (Apriori Preprocessing) - TASK 2
**Dataset**: https://www.kaggle.com/datasets/vijayuv/onlineretail

# Step 1: Load Data

In [384]:
import pandas as pd

In [385]:
df = pd.read_csv("online_retail.csv",encoding="latin")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [386]:
df.shape

(541909, 8)

# Step 2: Drop Missing Invoices or Descriptions

In [387]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [388]:
df.shape

(541909, 8)

In [389]:
df['CustomerID'] = df['CustomerID'].fillna(0)
df.isnull().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
dtype: int64

In [390]:
df.dropna(subset=["Description"],inplace=True)

In [391]:
df.shape

(540455, 8)

In [392]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

# Step 3: Remove Canceled Invoices <BR> Start with letter 'c'

In [393]:
df['InvoiceNo'].dtype

dtype('O')

In [394]:
df[df['InvoiceNo'].str.startswith('C')].count()

InvoiceNo      9288
StockCode      9288
Description    9288
Quantity       9288
InvoiceDate    9288
UnitPrice      9288
CustomerID     9288
Country        9288
dtype: int64

In [395]:
df.shape

(540455, 8)

In [396]:
df = df[~df['InvoiceNo'].str.startswith('C')]

In [397]:
df.shape

(531167, 8)

In [398]:
df[df['InvoiceNo'].str.startswith('C')].count()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [399]:
df.shape

(531167, 8)

In [400]:
df["InvoiceNo"].isnull().sum()

np.int64(0)

# Step 4: Keep Only Positive Quantities

In [401]:
df['Quantity'].dtype

dtype('int64')

In [402]:
df[df['Quantity'] < 0].count()

InvoiceNo      474
StockCode      474
Description    474
Quantity       474
InvoiceDate    474
UnitPrice      474
CustomerID     474
Country        474
dtype: int64

In [403]:
df.shape

(531167, 8)

In [404]:
df = df[df['Quantity'] >= 0]

In [405]:
df.shape

(530693, 8)

In [406]:
df[df['Quantity'] < 0].count()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

# Step 5: Standardize Item Descriptions | Lower case and remove space

In [407]:
df['Description'] = df['Description'].str.lower().str.strip()

# Step 6: Filter for a Single Country (e.g., United Kingdom)

In [408]:
df[df['Country'] == "United Kingdom"]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541889,581585,22466,fairy tale cottage night light,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,large cake stand hanging strawbery,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,set of 3 hanging owls ollie beak,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,red retrospot round cake tins,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,doormat red retrospot,10,12/9/2011 12:49,7.08,13113.0,United Kingdom

In [409]:
df[df['Country'] == "United Kingdom"].count()

InvoiceNo      485694
StockCode      485694
Description    485694
Quantity       485694
InvoiceDate    485694
UnitPrice      485694
CustomerID     485694
Country        485694
dtype: int64

# Step 7: Remove Duplicates

In [410]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [411]:
df.shape

(530693, 8)

In [412]:
df = df.drop_duplicates()

In [413]:
df.shape

(525462, 8)

# Step 8: Add TotalPrice column , TotalPrice = Quantity *  UnitPrice

In [414]:
df["TotalPrice"] = df["Quantity"] * df["UnitPrice"]
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

# Step 9 : Check for Top 10 Selling Products

In [415]:
#ask doubt
#that do we have to check in quantity or what 
df['Description'].value_counts().head(10)

Description
white hanging heart t-light holder    2315
jumbo bag red retrospot               2112
regency cakestand 3 tier              2009
party bunting                         1700
lunch bag red retrospot               1581
assorted colour bird ornament         1476
set of 3 cake tins pantry design      1392
pack of 72 retrospot cake cases       1352
lunch bag  black skull.               1301
natural slate heart chalkboard        1255
Name: count, dtype: int64

# Step 10 : Identify Most Active Customers

In [416]:
data = df.groupby("CustomerID")
data.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
9,536367,84879,assorted colour bird ornament,32,12/1/2010 8:34,1.69,13047.0,United Kingdom,54.08
10,536367,22745,poppy's playhouse bedroom,6,12/1/2010 8:34,2.10,13047.0,United Kingdom,12.60
26,536370,22728,alarm clock bakelike pink,24,12/1/2010 8:45,3.75,12583.0,France,90.00
...,...,...,...,...,...,...,...,...,...
538065,581385,21479,white skull hot water bottle,72,12/8/2011 13:11,3.75,13298.0,United Kingdom,270.00
538812,581416,22466,fairy tale cottage night light,1,12/8/2011 14:58,1.95,14569.0,United Kingdom,1.95
538813,581416,21731,red toadstool led night light,1,12/8/2011 14:58,1.65,14569.0,United Kingdom,1.65
541768,581578,POST,postage,3,12/9/2011 12:16,18.00,12713.0,Germany,54.00
541769,581578,21124,set/10 blue polkadot party candles,24,12/9/2011 12:16,1.25,12713.0,Germany,30.00

In [417]:
df.groupby('CustomerID')['InvoiceNo'].nunique().sort_values(ascending=False).head(10)

CustomerID
0.0        1600
12748.0     210
14911.0     201
17841.0     124
13089.0      97
14606.0      93
15311.0      91
12971.0      86
14646.0      74
16029.0      63
Name: InvoiceNo, dtype: int64

# Step 11: Time-Based Analysis | Convert InvoiceDate to datetime and check popular months/hours.

# Step 12: Convert to Basket Format

Example
<table border="1">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Milk</th>
            <th>Bread</th>
            <th>Butter</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>T1</td><td>1</td><td>1</td><td>1</td></tr>
        <tr><td>T2</td><td>0</td><td>1</td><td>1</td></tr>
        <tr><td>T3</td><td>1</td><td>0</td><td>0</td></tr>
        <tr><td>T4</td><td>1</td><td>1</td><td>0</td></tr>
        <tr><td>T5</td><td>0</td><td>1</td><td>1</td></tr>
    </tbody>
</table>

# Step:13 : Save Basket Format into CSV file