<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>    
<pre>

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Tdata.csv")
df.head()

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [8]:
df = df.drop("Transaction",axis=1)
df.head()

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0

### Step 3: Count Single Items
See how many transactions include each item.

In [37]:
df.sum(axis="rows")

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [49]:
from itertools import combinations

for i in combinations(df.columns,2):
    print(list(i))

['bread', 'butter']
['bread', 'coffee']
['bread', 'eggs']
['bread', 'jam']
['bread', 'milk']
['butter', 'coffee']
['butter', 'eggs']
['butter', 'jam']
['butter', 'milk']
['coffee', 'eggs']
['coffee', 'jam']
['coffee', 'milk']
['eggs', 'jam']
['eggs', 'milk']
['jam', 'milk']

In [63]:
from itertools import combinations
def findFrequentItems(df,minSupport):
    n = len(df)
    result = []

    for k in [1,2,3]:
        for items in combinations(df.columns,k):
            mask = df[list(items)].all(axis=1)
            support = mask.sum() / n

            if(support >= minSupport):
                print(frozenset(items),round(support,2),sep=" -> ")
                result.append((frozenset(items),round(support,2)))

    return result

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

In [70]:
frequent_itemsets = findFrequentItems(df,0.6)
frequent_itemsets

frozenset({'bread'}) -> 0.83

[(frozenset({'bread'}), np.float64(0.83))]

### Step 6 Display as a DataFrame

In [73]:
result_df = pd.DataFrame(frequent_itemsets,columns=['Itemset','Support'])
result_df

   Itemset  Support
0  (bread)     0.83

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools